body {
    margin-left: 10px;
    margin-right: 10px;
}

.block {
    display: inline-block;
    background-color: #F1F1D4;
}

#build_button {
    margin-left: 10%;
}

#container {
    border: 1px solid #d4d4d4;
    width: 80%;
    height: 80%;
}

#sketchpad {
    width: 100%;
    height: 100%;
}

.sketched {
    background-color: black;
    opacity: 0.3
}

.center {
    margin-left: auto;
    margin-right: auto;
}